
.grid{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 400px;
    margin-right: 400px;
    grid-row-gap: 120px;
    margin-bottom: -60px;
    justify-content: space-evenly;

}
.grid-item{
    text-align: left;
    padding: 10px;
    margin-left: 65px;
    font-size: 20px;
    width: 500px;
}

.grid-item1{
    text-align: left;
    padding: 5px;
    margin-left: 60px;
    font-size: 20px;
    position: relative;
    top: 120px;
}

.grid-item2{
    text-align: left;
    padding: 10px;
    margin-left: 65px;
    font-size: 20px;
    width: 500px;
    position: relative;
    bottom: 150px;
}
.grid-item3{
    text-align: left;
    padding: 5px;
    margin-left: 60px;
    font-size: 20px;
    position: relative;
    bottom: 30px;
}

.buttonD{
    position: relative;
    bottom: 80px;
    text-align: center;
    margin-right: 360px;
    float:right;

}
