*{
    font-family: "Century Gothic", serif;
}

nav{
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 2;
    background-color: #f5f5f5;
    border: 1px solid #dcd8d8;
}
nav .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .header ul{
    display: flex;
    gap: 3rem;
}
nav li {
    list-style-type: none;
}

nav button{
    color:black;
    all:unset;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

nav button:after {
    content: '';
    display: block;
    border-bottom: 2px solid green;
    transform: scaleX(0);
    transition: transform 100ms ease-in-out;}

nav button:not(.active):hover:after { transform: scaleX(1); }

nav button.active {
    content: '';
    display: block;
    border-bottom: 2px solid deepskyblue;
    transform: scaleX(1);
}
/*end of HEADER CSS*/

/*START OF GOOGLE MAP CSS*/

.map-container {
    top: 50px;
    display: inline-block;
    position: center;
    margin-left: 440px;
    margin-right: 500px;
    width: 50%;
    height: 500px;
    border-radius: 2px;

}

.subheading{
    color: silver;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 5px;
}

h1{
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 30px;
}

.buttonL{
    position: relative;
    top: 53px;
    text-align: center;
    margin-left: 1154px;

}

/*END OF CONTINUE BUTTON CSS*/